<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{% static 'images/cool_pizza_guy.png' %}" alt="Cool Guy">
        <a class="navbar-brand" href="/">Fonzie's Pizzeria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Hello {{ request.session.first_name }}!</span></a>
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/order">Menu</a>
                <a class="nav-item nav-link active" href="/checkout">Order({{order.quantity.ordered}})</a>
                <a class="nav-item nav-link active" href="/account">Account</a>
                <a class="nav-item nav-link active" href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <!--Account Information-->
    <div class="account_info">
        <h1>Account Information</h1>
        <h5>Name:{{request.session.first_name}} {{request.session.last_name}}</h5>
        <h5>Email: {{request.session.email}}</h5>
    </div>

    <div class="edit-account">
        <h4>Edit User Information</h4>
        <a href="" class="btn btn-primary">Edit Profile</a>
    </div>

    
</body>
</html>