<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Fonzie's Pizzeria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/checkout">Order()</a>
                <a class="nav-item nav-link active" href="/account">Account</a>
                <a class="nav-item nav-link active" href="/">Logout</a>
            </div>
        </div>
    </nav>

    <div class="total">
        <h2>Total: </h2>
    </div>
    

    <!--Order List-->
    <div class="order-list">
        <h3>Your Order</h3>
        <p>Method: {}</p>
        <p>Quantity: {}</p>
        <p>Size: {}</p>
        <p>Crust: {}</p>
        <p>Meat Toppings: {} </p>
        <p>Veggie Toppings: {}</p>
    </div>

    <div class="buttons">
        <!--Edit Button-->
        <div class="edit">
            <button type="button" class="btn btn-warning">Edit</button>
        </div>
        <!--Delete-->
        <div class="delete">
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
        <!--"Add More" Button-->
        <div class="add-more">
            <button type="button" class="btn btn-primary">Add More</button>
        </div>
    </div>

    <!--Price of Each Pizza-->



    <!--Total of Entire Order-->






    <!--Complete Order-->
    
    
</body>
</html>