<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{% static 'images/cool_pizza_guy.png' %}" alt="Cool Guy">
        <a class="navbar-brand" href="">Fonzie's Pizzeria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/checkout">Order()</a>
                <a class="nav-item nav-link active" href="/account">Account</a>
                <a class="nav-item nav-link active" href="">Logout</a>
            </div>
        </div>
    </nav>
    
    <!--Carousel-->
    <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/building.jpg' %}" alt="Building">
                </div>
            </div>
    </div>

    <!--Card Container-->
    <div id="card-container">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="{% static 'images/pizza_chef.png' %}" alt="pizza_chef">
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">Local San Antonio Pizzeria that goes above and beyond on the best quality of pizza there is. The Pizza is soo good it that would make the Fonz say "AYYYEE". Order Now!</p>
            </div>
        </div>
        <!--Login/Register-->
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="{% static 'images/hands_up_pizza_guy.jpg' %}" alt="pizza_score">
            <div class="card-body">
                <h5 class="card-title">Welcome!</h5>
                <p class="card-text">Sign In or Sign Up</p>
                <a href="/new_user" class="btn btn-primary">New User</a>
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </div>
        <!--Order-->
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="{% static 'images/menu.png' %}" alt="menu">
            <div class="card-body">
                <h5 class="card-title">Menu</h5>
                <p class="card-text">Start your Order!</p>
                <a href="/order" class="btn btn-primary">Order</a>
            </div>
        </div>    
    </div>

    
</body>
</html>