<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{% static 'images/cool_pizza_guy.png' %}" alt="Cool Guy">
        <a class="navbar-brand" href="/">Fonzie's Pizzeria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/checkout">Order()</a>
                <a class="nav-item nav-link active" href="/account">Account</a>
                <a class="nav-item nav-link active" href="/">Logout</a>
            </div>
        </div>
    </nav>

    <!--Login-->
    <div class="login">
        <form action="/login" method="POST">
            <h2>Log In!</h2>
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input name="email" type="text">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input name="password" type="password">
            </div>
            <button type="submit" value="Login">Log In</button>
            <a href="/new_user">Don't have an account? Sign Up Here!</a>
        </form>
        
    </div>
    
</body>
</html>